@import '~@/theme/mixin.less';

.chatpanel{
    width: 55%;
    height: 70%;
    background: rgba(255,255,255,0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: -2;
    .center();
    header{
        height: 30px;
        line-height: 30px
    }
    footer{
        display: flex;
        justify-content: center;
        padding-top: 15px;
        button{
            margin-left: 10px;
        }
        input{
            width: 500px;
        }
    }
    .content{
        background:rgba(230, 230, 230,0.6);
        height: 80%;    
        padding: 10px;
    }
}