<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>wcy-chat-room</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>
    <script type="text/javascript">
        $youziku.load("body", "3316c37f218f4eb58b60851014f0bfe3", "jdzhonyuanjian");
        /*$youziku.load("#id1,.class1,h1", "3316c37f218f4eb58b60851014f0bfe3", "jdzhonyuanjian");*/
        /*．．．*/
        $youziku.draw();
    </script> -->
</head>

<body>
    <div id="app"></div>
</body>

</html>