body {
    height: 100%;
    overflow-y: hidden;
    background:url('../assets/images/bg.jpg');
    background-size: 15%;
}

ul{
    padding: 0;
}
li{
    list-style: none;

}

button{
    outline: none;
    border: 0;
    width:60px;
    height: 30px;
    background: #666;
    color: #fff;
}

input{
    outline: none;
    border: 0;
}
