body {
    height: 100%;
    overflow-y: hidden;
    background:url('../assets/images/bg.jpg');
    background-size: 20%;
}

ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}

button{
    outline: none;
    border: 0;
    width:70px;
    height: 30px;
    background: #feb9f8;
    border-radius: 5px;
    color: #777;
    font-weight: bold;
    cursor: pointer;
}

input{
    height: 26px;
    line-height: 26px;
    padding-left: 10px;
    border: 1px solid #feb9f8;
    border-radius: 10px;
    background: #feb9f8;
    outline: none
}

.center{
    margin: 0 auto;
}


