.dialogue{
    width: 30%;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-around;
    .avatar{
        width: 20%;
        img{
            width: 30px;
            height: 30px;
        }
        p{
            font-size:small;
            height: 20px;
            line-height: 20px;
            margin: 0;
            padding: 0;
        }
    }
    .text{
        width: 80%;
        background: #fff; 
    }
}